.container {
  height: 100vh;
  max-width: 720px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

}

.data{
  margin-top: 4.2rem; 
  max-width: 1080px;
}

.containerContent{
  margin: 2rem -14rem;
  display: flex;
}

.dataInfo{
  display: flex;
  margin-bottom: -4.5rem;
	
}

.containerHour{
  max-width: 8rem;
  max-height: 3.8rem;
  display: inline-block;
  background: var(--gray-card-program);
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 42px 1rem;
  padding: 0.5rem 1.5rem;
  font-size: .9rem;
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
  color: var(--black-text);
  border: none;
}

.containerDescription{
  width: 60rem;
  position: relative;
  display: grid;
  grid-template-columns: 9% 20% 50% 8% 8%;
  background: var(--gray-card-program);
  border-radius: 10px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 42px 1rem;
  padding: 2px 24px;
  font-size: .9rem;
  font-family: Roboto;
  font-weight: 500;
  color: var(--gray-text);
  border: none;
}

.title{
  max-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black-text-high);
  margin: 0 -1.5rem;
}

.description{
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  margin-left: -5rem;
}

.classi{
  display: flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.year{
  margin-right: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.isShowing{
  margin-left: 5rem;
  width: 10rem;
}

.image{
  margin-right: -5rem;
}


.isShowing{
  margin-left: 24rem;
  width: 10rem;	
}

.isShowing img{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.containerNow p{
  justify-content: start;
  align-items: center;
  text-align: center;
}


@media screen and (max-width: 720px) {
  .container{
    max-width: 410px;
  }
	.data{
	  margin-top: 5rem; 
	  margin-left: 4rem;
	  max-width: 220px;
	}
  .containerContent{
    margin: -2rem -12rem;
	display: block;
  }
  .dataInfo{
    display: flex;
    max-width: 420px;
    margin-left: 5rem;
    margin-top: 0.5rem;

  }
	
  .containerHour{
  	max-width: 4rem;
  	max-height: 3rem;
  	background: var(--gray-card-program);
  	margin: 42px 1rem;
  	padding: .5rem 1rem;
  	font-size: .8rem;
  }  
  .containerDescription{
  	max-width: 30rem;
  	display: grid;
  	grid-template-columns: 20% 70%;
  	justify-content: space-around;
  	align-items: center;
  	margin: 38px 1rem;
  	padding: 2px 7px;
  	font-size: .8rem;
  	color: var(--black-text);
  	border: none;
  }  
  .title{
  	margin: 0 0rem;
  
  }
  
  .description{
  	margin-right: 0rem;
  	margin-left: 0rem;
  }  
  .image{
  	display: none;
  }  
  .isShowing{
  	display: inline-block;
  	margin-left: 5rem;
  	height: 3rem;	
  }
  
  .classi{
  	display: none;  
  }  
  .year{
  	display: none;  
  }

	.isShowing img{
		margin-left: -.5rem;
	}

}
  

@media screen and (max-width: 398px) {
	.data{
		margin-top: 5rem; 
		margin-left: 5rem;
		max-width: 100px;
	}
	.dataInfo{
		margin-left: 2rem;
		margin-top: 0.5rem;
	}
	.containerDescription{
		width: 19rem;
		margin: 42px 1rem;
	}
	.description{
		width: 12rem;
		margin-left: 1rem;
	}
	.containerHour{
		margin-left: 4rem;
		margin-right: -.1rem;
	}  
	.isShowing{
		display: inline-block;
		margin-left: 4rem;
	}

	.isShowing img{
		margin-left: -1rem;
	}


}
