.container {
  height: 100vh;
  max-width: 720px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 140px;
  background: var(--white-logo);
  border-radius: 34px;
}

.logo{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 720px) {
  .container{
    max-width: 410px;
  }
  .logoContainer{
    margin-top: 75%;
  }
}

